In [11]:
# Loading the necessary packages 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

### 1. Exploring the NYC AirBnB Data

- Loading the data

In [37]:
price_dataset = pd.read_csv("airbnb_price.csv", index_col="listing_id")
last_review = pd.read_csv("airbnb_last_review.csv")
room_type = pd.read_excel("airbnb_room_type.xlsx", index_col="listing_id")

In [39]:
last_review.head()

    listing_id    host_name   last_review
0         2595     Jennifer   May 21 2019
1         3831  LisaRoxanne  July 05 2019
2         5099        Chris  June 22 2019
3         5178     Shunichi  June 24 2019
4         5238          Ben  June 09 2019